@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root{
  --color: linear-gradient(90deg, blue, #fff);
  --color--2: linear-gradient(180deg, blue, #fff);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{

}

header{
	position: fixed;
	background: var(--color);
	width: 100%;
	height: 300px;
}

.image{
	display: flex;
 	width: 200px;
 	height: 200px;
 	margin: 50px auto 0 auto;

}

.block1{

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 220vh;

}

.container{

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	padding: 40px 0;
	background-color: #fff;
	z-index: 1;
}

.container .card{

	position: relative;
	width: 300px;
	height: 400px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
				inset -5px -5px 5px rgba(255,255,255,0.5),
					  5px 5px 5px rgba(0,0,0,0.05),
					  -5px -5px 5px rgba(255,255,255,0.5);
	border-radius: 15px;

	margin: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);

}

.container .card .box{

	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
    background: var(--color--2);
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.container .card:hover .box{

	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    opacity: 1;
}

.container .card .box .content{

	padding: 20px;
	text-align: center;
}

.container .card .box .content h2{

	position: absolute;
	top: -100px;
	right: 30px;
	font-size: 8em;
	color: rgba(0,0,0,0.02);
	transition: 0.5s;
	pointer-events: none;
}

.container .card:hover .box .content h2{

	color: rgba(0,0,0,0.05);
}

.container .card .box .content h3{

	font-size: 1.8em;
	color: #fff;
	z-index: 1;
	transition: 0.5s;
}

.container .card .box .content p{

	font-size: 1em;
	font-weight: 300;
	color: #fff;
	z-index: 1;
	transition: 0.5s;
}


.container .card .box .content a{

	position: relative;
	display: inline-block;
	padding: 8px 20px;
    background-color: blue;
	margin-top: 15px;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.container .card:hover .box .content a{

	 opacity: 0.6;
}
